.scrolling-wrapper-x {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  .scroll-card {
    flex: 0 0 auto;
  }

  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper-y {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
  flex-direction: column;

  .scroll-card {
    flex: 0 0 auto;
  }

  -webkit-overflow-scrolling: touch;
}

.fullsize {
  height: 100%;
  width: 100%;
}

.img-circle {
  border-radius: 50%;
}
